<div class="card listCard">

  <div>
    <table *ngIf="activities.length>0 else noResult" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Duration</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activity of activities">
        <th>
          {{activity.id}}
        </th>
        <td>
          {{activity.project.name}}
        </td>
        <td>
          {{activity.description}}
        </td>
        <td>
          {{activity.start}}
        </td>
        <td>
          {{activity.duration}}
        </td>
        <td>
          <i class="fas fa-folder-open" (click)="handleEditActivity(activity)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noResult>
    No result
  </ng-template>

</div>
